<h1> This is the contact page of the person to be contected for buying.</h1>

<style>
        body{
    background-image: url(https://st.depositphotos.com/3008028/3751/i/950/depositphotos_37516417-stock-photo-black-and-white-background.jpg);
    background-repeat:no-repeat;
    background-size:cover;}
    </style>