<%include ./partials/header %>

<h1><center>Mongo file uploads</center></h1>
<form action="/shops/upload" method="POST" enctype="multipart/form-data">
    // if we are using  file type then we have to use enctype="multipart/form-data"
<input type="file" name="file" id="file">
<label for="file">Choose File</label>
<button class="ui button" type="submit">Login</button>
</form>

<% include ./partials/footer%>
