<%include ./partials/header %>
<div id="f" class="ui main text container segment">
    <form id="g" class="ui form" action="/shops/login" method="POST">
        <center><h2>Login</h2></center>
    <div class="field">
        <label>Username</label>
        <input type="text" name="username" placeholder="">
    </div>
    <div class="field">
        <label>Password</label>
        <input type="password" name="password" placeholder="**********">
    </div>
    <button class="ui blue basic button" type="submit">Log in</button>
    <hr>
</form>
    <span>Haven't Sign In yet!!
    <a href="/shops/sign"><button class="ui blue basic button" type="submit">Sign In</button></a></span>
   
<style>
 body{
       
        padding-top:13%;
    }
    #g{
        height:300px;
        width:300px;
    }
    #f{
        height:300px;
        width:300px;
    
    }

    </style>