<%include ./partials/header %>
<div class="ui main text container">
    <div class=" ui huge header">Mattresses</div>
    <div class="ui top attached segment">
        <div class="ui divided items">
            <%for(var i=0;i<shops.length;i++){%>
            <%if (shops[i].item==='Mattress'){%>
            <div class="item">
                <div class="image">
                    <img src="<%=shops[i].image%>">
                </div>
                <div class="content">
                    <a class="header" href="#"><%=shops[i].title%></a>
                    <div class="description">
                        <p><%=shops[i].body%></p>
                    </div>
                    <div class="extra">
                        <a class="ui floated basic violet button" href="/<%=shops[i]._id %>">Read More
                            <i class="right chevron icon"></i></a>
                    </div>
                </div>
            </div>
            <%}%>
            <%}%> 
        </div>
    </div>
</div>

<% include ./partials/footer%>