<%include ./partials/header%>
<div class="ui main text container segment">
    <div class="ui huge header">Update Password</div>
<form class="ui form" action="#" method="POST">
<div class="field">
    <label>Old Password</label>
    <input type="password" name="password">
    </div>
    <div class="field">
        <label>New Password</label>
    <input type="password" name="currentUser.password">
</div>
    <button class="ui button" type="submit">Submit</button>
</form>
</div>
<%include ./partials/footer%>
<style>
    html, body {

  padding-top:6%;
  padding-left:10%;
  padding-right:10%;
    font-family: 'Open Sans', sans-serif;
  }
  </style>